<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dell.routine">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_gaffer"
        tools:replace="android:label"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".Gaffer"
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name=".RoutineDisp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Routine" />
        </activity>
        <activity android:name=".Routine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Notice">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".NoticeDisp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notice" />
        </activity>

        <activity android:name=".ToDoList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Assignment"></activity>
        <activity android:name=".firebaseauth"></activity>
        <activity android:name=".verification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Calender">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Calender_AddEvent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Calender" />
        </activity>
        <activity android:name=".Calender_DayView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Calender" />
        </activity>
        <activity android:name=".Reset"/>
    </application>

</manifest>